<footer>
  <div class="footer-1">
    <div class="redes-sociales__column">
      <div class="redes-sociales__elementos">
        <div class="izq">
          <div>
            <img
              src="{{ asset('uploads/images/icons/facebook.png') }}"
              style="width: 35px; height: 35px"
            />
            <label>Facebook</label>
          </div>

          <div>
            <img
              src="{{ asset('uploads/images/icons/instagram.png') }}"
              style="width: 45px; height: 45px"
            />
            <label>Instagram</label>
          </div>
        </div>
        <div class="dcha">
          <div>
            <img
              src="{{ asset('uploads/images/icons/pinterest.png') }}"
              style="width: 45px; height: 45px"
            />
            <label>Pinterest</label>
          </div>

          <div>
            <img
              src="{{ asset('uploads/images/icons/google.png') }}"
              style="width: 45px; height: 45px"
            />
            <label>Google +</label>
          </div>
        </div>
      </div>
      <div class="redes-sociales-down">
        <div class="copyright">
          <p>Derechos reservados 2020-2021 |</p>
          <a href=""> Community</a>
        </div>
        <div>
          <a href=""> Terminos y condiciones</a>
        </div>
      </div>
    </div>

    <div class="quienes-somos__column">      
      <div class="column__right-up">
        <div>
          <a href="#">Quienes somos ?</a>
        </div>
        <div>
          <a href="#">Imprescindibles</a>
        </div>

        <div>
          <a href="#">TorreEiffel / Arco del triunfo</a>
        </div>
        <div>
          <a href="#">Leyendas y misterios</a>
        </div>
        <div>
          <a href="#">Montmartre</a>
        </div>
      </div>
      <div class="column__right-down">
        <h2>Medios de pago</h2>
        <div class="metodos__pago">
          <img src="{{ asset('uploads/images/icons/visa.png') }}" alt="visa" />
          <img
            src="{{ asset('uploads/images/icons/paypal.png') }}"
            alt="paypal"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
